.Principal{
	background-color: #8C8264;
	color: black;
}
.Nav{
	background-color: #932D2B;
}
.Footer{
	background-color: #F2BB13;
	color:black;
}
/*.Li{
	color: #f35e3e;
}*/
/*.Li:hover{
	background-color:#754ba0;
}*/
.Li.selected{
	background-color: #D95436;
}
.ConfigIcon{
	fill: #F2E30F;
}
.Config.show .ConfigIcon, .Config:hover .ConfigIcon{
	fill: #932D2B;
}
.config .s-back, .Zoom .s-txt{
	background-color: #8c8264;
	border: 1px solid red;
}
/**********************************************************/

.PrincipalMini{
	/* background-color: #4895D9; */
}
.Header{
	background-color: #D95436;
	color: black;
}
.Switch.active .s-back, .Zoom .s-txt{
	background-color: #F2E30F;
	color: black;
	/*color: #f35e3e;*/
}
.s{
	background-color: black;
	color: #F2E30F;
}
.LeftBar{
	background-color: #F2BB13;
	color: black;
}
.LeftBar:hover, .Li:hover, .Li.selected:hover{
	background-color: #cc624b;
}
.AcordeonItem h4{
	background-color: #932D2B;
	border-bottom: 1px double black;
	color: white;
}
.Config:hover, .Config:active, .Config.show, .config{
	background-color: #F2BB13;
	color: black;
}
.AcordeonItem ul{
	background-color: #8C8264;
}

.LeftBar svg g{
	fill: #ff6347;
}