.emoji {
  font-family: apple color emoji, segoe ui emoji, noto color emoji, android emoji, emojisymbols, emojione mozilla, twemoji mozilla, segoe ui symbol;
  font-family: "Segoe UI Emoji";
}

#react{ background-image: url('https://imgur.com/7bn2gQY.png'); }
#neu{ background-image: url('https://imgur.com/Rr8BGoZ.png'); }
#ie{ background-image: url('https://imgur.com/IENUmhX.png'); }
#CM_logo{ background-image: url('https://imgur.com/YBC1K87.png'); }