html,body{
	background-color: rgba(0,0,0,0);
}
.Todo{
	display: flex;
	flex-direction: row-reverse;
	height:max-content;

	/* float: right; */
}

/**********************************/
.LeftBar{
	border-top-left-radius: 1em;
	border-bottom-left-radius: 1em;
	background-color: dimgrey;
	display: flex;
	align-items: center;
	width: 1.3em;
	max-width: 1.3em;
	min-width: 1em;
	height: auto;
}
.LeftBar img{
	display:block;
}
.LeftBar:hover{
	background-color: darkgrey;
}
.LeftBar:active{
	background-color: #8a8989;
}


/************************************************/
.Header{font-size: 0.7em;}
.Config{
	margin-left: 0.3em;
    margin-right: 0.3em;
    margin-top: 0.3em;
       border-top-left-radius: 0.4em;
    border-top-right-radius: 0.4em;
    position: relative;
}
.Config:hover, .Config:active, .Config.active{
	background-color: dimgrey;
}
.Config img{
	position: relative;
	height: 100%;
    width: 100%;
    display: block;
}
.config{
	display: none;
	position: absolute;
    right: 0;
    background-color: dimgrey;
    padding: 0.4em;
    padding-left: 0.9em;
    width: max-content;
    height: max-content;
    z-index: 500;
}
.Config.active .config{
	display:block;
}
.Switch{

}

/**********************************************/
.PrincipalMini{
	width:100%;
	background-color: grey;
	transition: all 0.9s ease;
	border-right: solid 5px black;
	box-sizing: border-box;
	max-width: 100%;
    overflow: hidden;
    padding-bottom:2.5em;
}
.AcordeonItem{
	transition: all 0.3s ease;
	height: 6.7em;
}
.AcordeonItem h4{
    font-size: 1em;
    padding-left: 0.5em;
    background-color: darkslategrey;
   /* margin-bottom: 0.3em;*/
    padding-top: 0.2em;
    font-weight: 200;

}
.AcordeonItem ul{
    display: flex;
    flex-direction: column;
    padding: 0.1em;
    padding-bottom:0.6em;
    height:4em;
    min-height: max-content;
}
.AcordeonItem.hidden{
	overflow:hidden;
	height: 1.6em;
}
.item-section{
	/*font-size:1.3em;*/
	position: relative;
	display:flex;
	flex-grow: 1;
	/*flex-flow: column wrap;
	height: 3.8em;*/
	flex-flow: row wrap;
	margin-bottom: 0.5em;
	margin-top: 0.2em;
}
/*.item-section .ItemIcon, .item-section .ItemIcon{
	width: 1.4em;
	height: 1.4em;
}*/
.hover-l{
	left:0;
}
.hover-r{
	right:0;
}
/**************************************/
.MapItems{
	position:relative;
	padding: 0.5em;
	padding-top: 0.8em;
	padding-bottom: 0.8em;
	height: max-content;
	box-sizing: content-box;
}
/*.MapItems .central .Hover{
	left: calc(-7 * 1em);
}*//*
.MapItems .hover-c{left: -7em;}
.MapItems .hover-r{right: -1em;}
*//*.svg-conteiner, .icon-conteiner{margin: 0.5em;margin-top: 0.8em;margin-bottom: 0.8em;}*/
.ItemIcon{
	transition: all 0.3s ease;
}

/********************************************/
.svg-cointeiner{
	position:absolute;
	height: calc(90% - 1.6em);
	width: calc(100% - 1em);
	top:0;
	bottom: 0;margin:auto;
}
.Svg{transition: all 1s ease;}
line{
	stroke: grey; /* color de fondo*/
	fill:grey;
	stroke-width:2;
}
.icon-conteiner .ItemIcon{font-size:1.3em;}
.icon-conteiner{
	z-index: 50; 
	position: relative;
	/*font-size:1.3em;*/
}
.icon-3{
	margin: 0;
	width:100%;
	display: flex;
	justify-content: space-evenly;
	position: relative;
}
.icon-3 .Item, .item-section .Item{position: unset;}
.icon-3 .Item .Hover, .item-section .Item .Hover{
	left:0;right: 0;
	margin-left: auto;
    margin-right: auto;
}
.icon-3.central{
	margin-top: 1.3em;
	margin-bottom: 1.3em;
}
/*
.icon-3.central.posible{
	text-align: center;
	width: min-content;
	margin-left: auto;
	margin-right: auto;
}
*/
.Svg{
    width:100%;
    height:100%;
}


/***************************************/
.hidden-h{
	width: 1%;
}
.hidden-v{
	height: 1%;
}

.white{
	color:white;
	border-color:white;
}
.blue{
	color: blue;
	border-color:blue;
}
.green{
	color:green;
	border-color:green;
}
.orange{
	color:orange;
	border-color:orange;
}