html, body{
	overflow: hidden;
}
/*
.Todo{ height: max-content; } 
*/
/************************************/

.Logo{
	margin-left: 1em;
	display: flex;
}
.Logo h1{
	font-size:1em;
	font-family: 'Carter One', cursive;
	font-weight: normal;
	line-height: 3em;
}
/*****/
.Todo .Config{
	display: none;
}
/**********************************/
.Main{
	font-size:1em;
	display: flex;
	flex-direction: row;
	width: 100%;
	margin: 0;
	/*height: calc(100% - 3em - 1.5em);*/
	height: 100%;
	overflow: hidden;
}
.Nav{width: 20%;height: 100%;background-color: dimgrey;min-width: max-content;/* max-width: 16em; */height: auto;}
.ul{margin: 0;padding: 0;list-style: none;height: 100%;display: flex;flex-direction: column;}
.Li{flex: 1;display: flex;align-items: center;padding: 0.2em;padding-left: 0.8em;padding-right: 0.6em;position: relative;margin: 0.2em;margin-left: 0.4em;margin-right: 0.4em;border-radius: 0.5em;max-height:4em;}
.Li:hover, .Li.selected:hover{
	background-color: darkgrey;
}
.Li:active{
	background-color: #8a8989;
}
.Li.selected{
	background-color: #8a8989;
}
.Deep{
	display:block;
	width: 100%;
	font-size: 1.3em;
	/* text-align: center; */
	text-decoration: none;
	height: 100%;
	/* line-height: 50%; */
	display: flex;
	align-items: center;
	cursor: pointer;
}
/*
.Li:before{
	content:'_';
	display: block;
	left: auto;
	right: 0;
	width: 1em;
	margin-left: auto;
}
.Li:after{
	content:'_';
	display: block;
	margin-left: auto;
	right: 0;
	width: 1em;
}
*/
/****/
.Principal{
	width: 80%;
	overflow: auto;
	overflow-x: hidden;
	/* height: calc(50% - 1.5em - 3em); */height: 100%;/* padding: 0.3em; */background-color: grey;}
.scrolleable{
	/* overflow: auto; */
	/* height: calc(100% - 3em - 1.5em); */
	/* height: max-content; */
}
.Section{margin: 0.7em;padding-bottom:3em;}
.h2{margin: 0;padding: 0;}



/*************************************/
.Footer{
	height: 1.5em;
	position: fixed;
	bottom: 0;
	width: 100%;
	background-color: violet;

	font-size: 0.8em;
    font-family: monospace;
    /* height: max-content; */
    padding-top: 0.4em;
    padding-bottom: 0.4em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.Footer>div{
	margin: 0;
	margin-left:0.5em;
	margin-right: 0.5em;
	height: min-content;
    display: flex;
    height: 100%;
}
.Footer span{
	margin:0;
	font-size:1em;
	height: 1em;
	display: inline-block;
}
.Footer .tech{
	
	margin: auto;
    margin-left: 0.3em;
    margin-right: 0.3em;
    
    /* height: 1.1em; */
    top: 0;
    bottom: 0;

	width: 1em;
	
	margin-left: 0.3em;
	margin-right: 0.3em;

	background-position: center center;
    background-size: 100% 100%;



}

/*****************************************/
::-webkit-scrollbar              { /* 1 */ }
::-webkit-scrollbar-button       { /* 2 */ }
::-webkit-scrollbar-track        { /* 3 */ }
::-webkit-scrollbar-track-piece  { /* 4 */ }
::-webkit-scrollbar-thumb        { /* 5 */ }
::-webkit-scrollbar-corner       { /* 6 */ }
::-webkit-resizer                { /* 7 */ }

::-webkit-scrollbar {
    width: 12px;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}