html,body{
	/*background-color: rgba(0,0,0,0);*/
	background-color: #333;
}
/*.Todo{height:100%;}*/
.Todo .Logo h1{display: none;}
.Todo .Header{font-size: 0.7em;}

.Todo .Header>.Switch{
 /*display: none;*/
}
/*.Todo .Config{margin-left: auto;}*/
.Todo.no-hover .Hover{
	display:none;
}
/**********************************/

.AcordeonItem{
	transition: all 0.25s ease;
    /* height: 10em; */
    /* height: 1.6em; */
    /*overflow: hidden;*/
    max-height: 1.7em;
    transition: max-height 0.25s ease-out;
    overflow: hidden;
    cursor: pointer;
}
.AcordeonItem h4{
    font-size: 1em;
    padding-left: 0.5em;
    background-color: darkslategrey;
   /* margin-bottom: 0.3em;*/
    padding-top: 0.2em;
    font-weight: 200;
    border: none;
    border-bottom: 1px double white;

}
.AcordeonItem ul{
	display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 0.1em;
    padding-bottom:0.6em;
    overflow: visible;
   /* height: max-content;*/
    /*min-height: max-content;*/
}

.AcordeonItem.show{
	overflow: visible; /* necesario para los hover */
    /* height: 1.6em; */
    
    max-height: 20em;
    transition: max-height 0.25s ease-in;
}
.item-section{
	font-size:1.1em;
	/*position: relative;*/
	display:flex;
	flex-grow: 1;
	/*flex-flow: column wrap;
	height: 3.8em;*/
	flex-flow: row wrap;
	margin-bottom: 0.5em;
	margin-top: 0.2em;
	height: max-content;
}
.item-section li{
	overflow: visible;
}
.icon-3 .Item{
	margin:0;
}
/*.item-section .ItemIcon, .item-section .ItemIcon{
	width: 1.4em;
	height: 1.4em;
}*/

.AcordeonItem .Item:hover .Hover:hover{
	display:none;
}

.hover-l{
	left:0;
}
.hover-r{
	right:0;
}
/**************************************/
.MapItems{
	position:relative;
	padding: 0;
	padding-top: 0.8em;
	padding-bottom: 0.8em;
	height: max-content;
	box-sizing: content-box;
	background-color: #333;
   /*padding-bottom: 1.4em;*/
}
.MapItems .Hover{
	/*bottom: 0;*/
	bottom: 1.5em;
}
/*.MapItems .central .Hover{
	left: calc(-7 * 1em);
}*//*
.MapItems .hover-c{left: -7em;}
.MapItems .hover-r{right: -1em;}
*//*.svg-conteiner, .icon-conteiner{margin: 0.5em;margin-top: 0.8em;margin-bottom: 0.8em;}*/
.ItemIcon{
	transition: all 0.15s ease;
}

/********************************************/
.svg-cointeiner{
	position:absolute;
	height: calc(90% - 1.6em);
	/*width: calc(100% - 1em);*/
	width: 100%;
	top:0;
	bottom: 0;margin:auto;
}

.icon-conteiner{
	z-index: 50; 
	position: relative;
	/*font-size:1.3em;*/
}
.icon-3{
	font-size: 1.2em;
	margin: 0;
	width:100%;
	display: -ms-flexbox;
	display: flex;
	/*justify-content: space-evenly;*/
	position: relative;
	/*z-index: 100;*/
}
/*.icon-3 .Item{ margin: auto; }*/
.icon-3 .Item, .item-section .Item{position: static;transition: all 0.15s ease;}
.icon-3 .Item .Hover, .item-section .Item .Hover{
	left:0;right: 0;
	margin-left: auto;
    margin-right: auto;
}
.icon-3.central{
	margin-top: 1rem;
	margin-bottom: 1rem;
	z-index: 10;
}
.icon-3{ justify-content: space-between; }
.icon-3>div{ 
	display: -ms-flexbox;
	display: flex; 
	justify-content: space-between;
	width: 100%;
}
.icon-3>div:before, .icon-3>div:after{
	content: '';
	display: block;
	width: 1px;
	height: 2px;
}


/***************************************/
/*
.hidden-h{
	width: 1%;
}
.hidden-v{
	height: 1%;
}
*/